extends website 
block content 
    .deck-header 
        input#deck-title(type="text" value="" maxlength=30)
        #deck-owner 
            span#amount-of-cards 0/20 
            |cards 
            span#deck-username Olle

        <button class="btn header-button card-edit-button delete" id="delete-deck" onclick="javascript:deleteDeck()">Delete deck<svg viewBox="0 0 24 24" class="btn-icon"><path d="M0 0h24v24H0V0z" fill="none"></path><path d="M16 9v10H8V9h8m-1.5-6h-5l-1 1H5v2h14V4h-3.5l-1-1zM18 7H6v12c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V7z"></path></svg></button>
    #deck-entries
    #card-display 

block scripts 
    script(src="/js/deck.js") 