extends website 
block content  
    if !loggedIn || !user.admin
        #warning-message Warning! You are not logged in as an admin right now, you cannot save, edit or delete anything!
    .card-buttons
        button.btn.header-button.card-edit-button#upload-button(disabled)
            |Upload
            <svg  viewBox="0 0 24 24" class="btn-icon"><g><rect fill="none" height="24" width="24"/></g><g><path d="M18,15v3H6v-3H4v3c0,1.1,0.9,2,2,2h12c1.1,0,2-0.9,2-2v-3H18z M7,9l1.41,1.41L11,7.83V16h2V7.83l2.59,2.58L17,9l-5-5L7,9z"/></g></svg>
        
        a(href="/backup") 
            button.btn.header-button.card-edit-button#upload-button()
                |Download database
                <svg  viewBox="0 0 24 24" class="btn-icon"><g><rect fill="none" height="24" width="24"/></g><g><path d="M18,15v3H6v-3H4v3c0,1.1,0.9,2,2,2h12c1.1,0,2-0.9,2-2v-3H18z M17,11l-1.41-1.41L13,12.17V4h-2v8.17L8.41,9.59L7,11l5,5 L17,11z"/></g></svg>
            
        
        button.btn.header-button.card-edit-button.delete(onclick="javascript:deleteCard()")
            |Delete
            <svg  viewBox="0 0 24 24" class="btn-icon"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M16 9v10H8V9h8m-1.5-6h-5l-1 1H5v2h14V4h-3.5l-1-1zM18 7H6v12c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V7z"/></svg>
        #last-edited Last edited: Never
    #card-editor-wrap
        
        .card-editor
            .edit-title ID
            input(type="text" id="id-input" class="edit-input" disabled value="23")

            .edit-title-stats(style="width:150px;") Card type
            select#type-input(name="" class="edit-input")
                option(value="minion") Minion
                option(value="targetSpell") Target Spell
                option(value="aoeSpell") AOE Spell

            .edit-title Name
            input(type="text" id="name-input" class="edit-input")

            .edit-title Description
            textarea(name="", cols="30", rows="5" class="edit-input" id="description-input")
            br
            .color-indecator(style="background:rgb(0, 195, 255);")
            .edit-title-stats Mana cost
            .color-indecator(style="background:var(--red);")
            .edit-title-stats HP
            .color-indecator(style="background:gray;")
            .edit-title-stats Damage
            br
            input#mana-input(type="number" class="stats-input" value="1")
            input#hp-input(type="number" class="stats-input"  value="2")
            input#damage-input(type="number" class="stats-input"  value="3")

            .color-indecator#color-indecator(style="background:rgb(0, 195, 255);")
            .edit-title-stats(style="width:150px;") Element type 
            select#element-input(name="" class="edit-input")
                option(value="lunar") Lunar (Mana)
                option(value="solar") Solar (Health)
                option(value="zenith") Zenith (Utility)
                option(value="nova") Nova (Damage)
                option(value="taunt") Neutral (Taunt)
                option(value="rush") Neutral (Rush)

        .card-editor#events
            .edit-title(style="margin-bottom:10px;") Events

        .card-editor#image-upload 
            .edit-title(style="margin-bottom:0px;font-size:20px;") Upload image
            .edit-title(style="margin-bottom:20px;") 1:1 (>= 500x500px)
            input#image-upload-input(type="file" accept=".png")
            img(src="https://via.placeholder.com/500x500", alt="Preview image" id="file-upload-preview")

           

           


    
        #card-preview 

        #formating-help 
            |$B = <b>Bold</b> 
            br
            |$I = <i>Italic</i> 
block scripts 
    script(src="/js/random.js") 
    script(src="/js/cards.js") 
    script(src="/js/edit.js") 