extends website 
block content 
    #login-window
        img(src="img/logo-plain.svg", alt="Logo", id="login-logo")
        .tiny-title Username
        input(type="text" maxlength="12" class="login-input" id="username-input" placeholder="Username")
        .tiny-title Password
        input(type="password" class="login-input" id="password-input" placeholder="**************")
        #eula-disclaimer By signing up for Project Cosmic, you agree to our 
            a(href="/eula.pdf" id="eula-link") EULA
        button.btn#login-button() Login / Signup
        #login-info

block scripts 
    script(src="js/random.js")
    script(src="js/login.js") 

        