extends website.pug 
block content 
    .source-link 
        img.source-icon(src="/img/lagom.png")
        .source-title Lagom Interactive AB
        .source-description Org Github account with all our repos
        a.source-href(href="https://github.com/LagomInteractive/") https://github.com/LagomInteractive/
    
    .source-link 
        img.source-icon(src="/img/outlaws-icon.png")
        .source-title Cosmic Game
        .source-description Unity game
        a.source-href(href="https://github.com/LagomInteractive/cosmic-game") https://github.com/LagomInteractive/cosmic-game

    .source-link 
        img.source-icon(src="/img/cosmic-api-icon.png")
        .source-title CosmicAPI
        .source-description API between Unity client and game server
        a.source-href(href="https://github.com/LagomInteractive/CosmicAPI") https://github.com/LagomInteractive/CosmicAPI

    .source-link 
        img.source-icon(src="/img/cosmic-server-icon.png")
        .source-title Cosmic Server
        .source-description Game & Website server
        a.source-href(href="https://github.com/LagomInteractive/cosmic-server") https://github.com/LagomInteractive/cosmic-server



