extends website 
block content 
    #user-page-header
        img(class="profile-picture" src="/img/profile-pictures/default-profile-photo.png", alt="")
        #profile-username #{pageUser.username}
        if pageUser.admin
            #profile-tag Developer
        #profile-stats
            | Wins: #{pageUser.record.wins}<br>Losses: #{pageUser.record.losses}
        
        #player-level #{pageUser.level}
        #xp-bar
            #xp-filled(style="width:30%")

    #profile-options 
        if loggedIn && user.admin
            button.btn.header-button.profile-button(onclick="javascript:giveCards('" + pageUser.username + "')") Give 10 cards
        if pageUser.id == user.id 
            button.btn.header-button.profile-button(onclick="javascript:logout()") Logout
        
    #page-title Decks 
        if loggedIn && pageUser.id == user.id 
            a#new-deck(href="/api/newdeck") New deck
            
    #decks
        
        
    #page-title Inventory
    #inventory

block scripts 
    script(src="/js/user.js") 