head 
    title Outlaws
    link(rel="preconnect", href="https://fonts.gstatic.com")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap")
    link(rel="stylesheet", href="/css/modern-normalize.css")
    link(rel="stylesheet", href="/css/style.css")
    script(src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js") 
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    link(rel="shortcut icon", href="/img/favicon.png", type="image/x-icon")

body 
    #gradient-bar
    #header
        a(href="/")
            img(src="/img/outlaws-header.png", alt="Logo", id="logo")
        - var pages = ['Home', 'Cards', 'Wiki', 'Download', 'Source']
        each page in pages
            a(href=page==="Home" ? "/" : "/"+page.toLowerCase() class="btn header-button " + (page_name === page.toLowerCase() ? "btn-selected" : "")) #{page}

        block headerExtra
        if !loggedIn
            a(href="/login" class="btn header-button" id="login-header-button") Login
        else 
            a(href="/user/" + user.username id="logged-in-status" class="btn header-button") 
                | #{user.username}
                #logged-in-symbol

    #content 
        block content 

    script(src="/js/connect.js") 
    script(src="/js/cards.js") 
    block scripts 